.root {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
  padding: 0 30px 30px 30px;
  @media (max-width: 800px) {
    grid-area: 1 / 1 / 2 / 2;
  }
}

.div2 {
  grid-area: 1 / 2 / 2 / 3;
  font-size: 26px;
  padding: 15px 100px 0 0;

  @media (max-width: 800px) {
    grid-area: 2 / 1 / 3 / 2;
    align-items: center;
    padding: 30px;
    font-size: 22px;
  }
}
