.root {
    position: relative;
    width: 350px;
    padding: 0 15px 0 15px;

    transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.03);
    }
    

    @media (max-width: 645px) {
    
        padding-top: 15px;
       
        }
    
 
    

}

.input {
    border: 2px solid rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    padding-left: 40px;
    border-radius: 10px;
    font-size: 17px;
    width: 100%;
   // transition: all 0.15s easy-in-out;

    &:focus {
        border: 2px solid rgba(0, 0, 0, 0.2);
      

      }
}

.icon {
    width: 35px;
    height: 35px;
    position: absolute;
    opacity: 0.5;
    padding: 12px 0 0 12px;
}

.removeIcon {
    width: 35px;
    height: 35px;
    position: absolute;
    right: 23px;
    opacity: 0.3;
    margin: 6px 0 0 35px;
    cursor: pointer;

    &:hover {
        opacity: 0.6;
    }
}

